:root {
  --text-color: #ffffff;
  --acent-color: #ffeb38;
  --dark-color: #202020;
  --btn-text-color: #0e0e0e;
  --customer-text-color: #696969;
  --customer-title-color: #000000;
  --customer-text-light-color: #f6f6f6;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
}

/* Base styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header styles */

.header-logo {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 104px;
}

.nav-list-link {
  font-size: 16px;
  letter-spacing: 0.48px;
  display: block;
  padding: 35px 0;
}

.header {
  background-color: var(--dark-color);
}

.header-btn {
  background-color: var(--acent-color);
  color: var(--btn-text-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-left: auto;
  min-width: 128px;
  height: 44px;
  border-radius: 5px;
  border: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.logo-img {
  margin-right: 6px;
}

/* Hero styles */

.hero {
  padding-top: 187px;
  padding-bottom: 190px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-list {
  display: flex;
}

.hero-title {
  width: 786px;
  text-align: center;
}

.hero-description {
  width: 786px;
}

/**
  |============================
  | Mark section main three
  |============================
*/

.subtitle {
  color: var(--customer-text-light-color);
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 111px;
  margin-bottom: 19px;
  flex-direction: column;
  text-align: justify;
}

.second-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 125.5%;

  margin-bottom: 23px;
  margin-right: 195px;
}

.yellow {
  color: var(--acent-color);
}

.text-desc {
  color: #fff;
  text-align: justify;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.48px;
  margin-bottom: 40px;
  margin-right: 89px;
}

.mark-btn {
  background-color: var(--acent-color);
  color: var(--btn-text-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-left: auto;
  min-width: 128px;
  height: 44px;
  border-radius: 5px;
  border: none;
}

.mark-container {
  display: flex;
}

.mark-list {
  display: flex;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  width: 546px;
  padding: 102px 0;
}

.mark-item {
  border-radius: 5px;
  background: var(--text-color);

  border: 1px solid var(--text-color);
  width: 263px;

  flex-shrink: 0;
}

.mark-title {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  color: var(--customer-title-color);
  flex-direction: column;
  margin-bottom: 13px;
}

.mark-text {
  color: var(--customer-text-color);
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.33px;
  padding-bottom: 22px;
}

.mark-contlist {
  display: flex;
}

.markcont-icons {
  margin-bottom: 13px;
}

.mark-icons {
  width: 82px;
  height: 82px;
  background-color: #ffeb38;
  border-radius: 50%;
  border: 3px solid #fff;
}

/* Customer styles */

.customer-text-first {
  color: var(--customer-text-light-color);
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 111px;
  margin-bottom: 19px;
  flex-direction: column;
  text-align: justify;
}

.customer-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 1.44px;
  margin-bottom: 113px;
}

.customer-title-acent {
  color: var(--acent-color);
}

.feedback-p {
  color: var(--acent-color);
}

.customer-item {
  min-width: 370px;
  border-radius: 5px;
  background: var(--text-color);
  margin-bottom: 130px;
}

.customer-list {
  display: flex;
  gap: 29px;
  text-align: center;
}

.customer-title-second {
  color: var(--customer-title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-top: 69px;
  margin-bottom: 20px;
}

.customer-text-second {
  color: var(--customer-text-color);
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.33px;
  padding-bottom: 19px;
  min-width: 334px;
  padding-left: 19px;
  padding-right: 19px;
}

/* Contact Us styles */

/* Footer styles */
