:root {
  --text-color: #ffffff;
  --acent-color: #ffeb38;
  --dark-color: #202020;
  --btn-text-color: #0e0e0e;
  --customer-text-color: #696969;
  --customer-title-color: #000000;
  --customer-text-light-color: #f6f6f6;
  --text-color-botton1: #1e1e1e;
  --text-color-botton2: #202020;
  --text-font-family: Poppins;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
}

/* Base styles */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid red;
  outline-offset: -2px; */
}

/* Header styles */

.header-logo {
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 104px;
}

.nav-list-link {
  font-size: 16px;
  letter-spacing: 0.48px;
  display: block;
  padding: 35px 0;
}

.header {
  background-color: var(--dark-color);
}

.header-btn {
  background-color: var(--acent-color);
  color: var(--btn-text-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-left: auto;
  min-width: 128px;
  height: 44px;
  border-radius: 5px;
  border: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.logo-img {
  margin-right: 6px;
}

/* Hero styles Artem  */

.hero {
  margin: 0;
  font-family: var(--text-font-family);
  color: var(--text-color);
  background-color: #0e0e0e;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 2.1px;
  margin-top: 0;
  margin-left: 190px;
  margin-right: 190px;
  margin-bottom: 22px;
  text-align: center;
}

.hero-description {
  color: #ffffff;
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-left: 190px;
  margin-right: 190px;
}

.hero-subtitle {
  color: var(--customer-text-light-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-top: 189px;
  margin-bottom: 14px;
}

.yellow-span {
  color: #ffeb38;
  font-weight: 600;
}

.hero-botton {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 190px;
}

.hero-item {
  width: calc((100% - 20px) / 2);
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 183px;
  padding: 12px 62px;
  border: none;
  border-radius: 5px;
  font-family: var(--text-font-family);
  color: var(--text-color-botton1);
  background-color: var(--acent-color);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
}

.hero-btn2 {
  display: block;
  font-family: var(--text-font-family);
  color: var(--text-color-botton2);
  background-color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  min-width: 183px;
  margin: 0 auto;
  padding: 12px 34px;
  border: none;
  border-radius: 5px;
}

/**
  |============================
  | Section 2 About CanvasLAncer Victoria
  |============================
*/
.about-canvas-container {
  padding-top: 112px;
  padding-right: 154px;
  padding-bottom: 58px;
  padding-left: 135px;
  display: flex;
  background-color: #0e0e0e;
  margin: 0 auto;
  gap: 114px;
  width: 1440px;
}

.about-canvas-images {
  display: flex;
  justify-content: flex-start;
  width: 503px;
  position: relative;
}

.canvas-image-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.canvas-image-2 {
  position: absolute;
  top: 191px;
  left: 198px;
  z-index: 2;

}

.about-canvas-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 534px;
}

.subtitle-canvas {
  color: var(--customer-text-light-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 155%;
  letter-spacing: 0.48px;
  margin-bottom: 19px;
}

.second-title.canvas {
  margin-bottom: 31px;
  ;
}

.about-canvas-text {
  color: #696969;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.48px;

}

.about-canvas-text.first {
  margin-bottom: 25px;
}

.about-canvas-text.second {
  margin-bottom: 35px;
}

.about-canvas-btn {
  background-color: var(--acent-color);
  color: var(--btn-text-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  width: 181px;
  height: 48px;
  padding-top: 12px;
  padding-right: 62px;
  padding-bottom: 12px;
  padding-left: 61px;
  border-radius: 5px;
  border: none;
}

/**
  |============================
  | Mark section main three
  |============================
*/

.subtitle {
  color: var(--customer-text-light-color);
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 111px;
  margin-bottom: 19px;
  flex-direction: column;
  text-align: justify;
}

.second-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 125.5%;
}

.yellow {
  color: var(--acent-color);
}

.text-desc {
  color: #fff;
  text-align: justify;
  font-size: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.48px;
  margin-bottom: 40px;
  margin-right: 89px;
}

.mark-btn {
  background-color: var(--acent-color);
  color: var(--btn-text-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-left: auto;
  min-width: 128px;
  height: 44px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.mark-container {
  display: flex;
}

.mark-list {
  display: flex;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  width: 546px;
  padding: 102px 0;
}

.mark-item {
  border-radius: 5px;
  background: var(--text-color);
  border: 1px solid var(--text-color);
  width: 263px;
}

.mark-title {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  color: var(--customer-title-color);
  flex-direction: column;
  margin-bottom: 13px;
}

.mark-text {
  color: var(--customer-text-color);
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  letter-spacing: 0.33px;
  padding-bottom: 22px;
}

.mark-contlist {
  display: flex;
}

<<<<<<< Updated upstream
.markcont-icons {
=======
.mark-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  background-color: var(--acent-color);
  border-radius: 50%;
>>>>>>> Stashed changes
  margin-bottom: 13px;
}

.mark-icons {
<<<<<<< Updated upstream
  width: 82px;
  height: 82px;
  background-color: #ffeb38;
  border-radius: 50%;
  border: 3px solid #fff;
=======
  fill: none;
>>>>>>> Stashed changes
}

/* Portfolio styles */

.portfolio {
  background-color: #000;
}

.portfolio-container {
  padding: 112px 135px 110px 135px;
  background-color: #000;
}

.portfolio-blended-p-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-subtitle {
  margin-bottom: 24px;
}

.second-title.portfolio {
  margin-bottom: 47px;
  width: 450px;
  height: 120px;
  text-align: center;
}

.portfolio-filtr-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 100%;
  height: 100%;
}

.portfolio-filtr-item {}

.portfolio-btn {
  padding: 10px 25px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  border-radius: 5px;
}

.portfolio-btn:hover,
.portfolio-btn:hover {
  background: #FFEB38;
}

.porfolio-img-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}


/* Customer styles */

.customer-text-first {
  color: var(--customer-text-light-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 111px;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: first baseline;

}

.customer-text-first::before {
  width: 143px;
  height: 2px;
  background: #D8D8D8;
  content: "";
  margin-right: 12px;
}

.customer-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 1.44px;
  margin-bottom: 113px;
}

.customer-title-acent {
  color: var(--acent-color);
}

.feedback-p {
  color: var(--acent-color);
}

.customer-item {
  min-width: 370px;
  border-radius: 5px;
  background: var(--text-color);
  margin-bottom: 130px;

}

.vaadin-icons {
  fill: #000000;
}

.vaadin-container {
  width: 99px;
  height: 99px;
  border-radius: 98.763px;
  border: 3px solid #FFF;
  background: #FFEB38;
  padding: 25px 25px;
  display: flex;
  position: absolute;
  top: -41px;
  left: 136px;
}

.second-icon {
  top: -41px;
  left: 535px;
}

.third-icon {
  top: -41px;
  left: 935px;
}

.customer-list {
  display: flex;
  gap: 29px;
  text-align: center;
  position: relative;
}

.customer-title-second {
  color: var(--customer-title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-bottom: 20px;
  padding-top: 69px;
  margin-top: 11px;
}

.customer-text-second {
  color: var(--customer-text-color);
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.33px;
  padding-bottom: 19px;
  min-width: 334px;
  padding-left: 19px;
  padding-right: 19px;
}

/* Contact Us styles */

.contact-us-container {
  display: flex;
}

.contact-us-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 12px;
  margin-top: 90px;
}

.contact-us-subtitle::before {
  position: relative;
  content: "";
  display: block;
  width: 143px;
  height: 2px;
  background: #D8D8D8;
}

.contact-us-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 1.44px;
  margin-right: 12px;
  margin-bottom: 31px;
}

.contact-ua-desc {
  margin-bottom: 23px;
}

.contact-us-img {
  width: 603px;
  height: 829px;
  flex-shrink: 0;
  margin-top: 25px;
  margin-bottom: 12px;
}

.contact-form-input {
  display: block;
  margin-bottom: 23px;
  min-width: 533px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  background: #FFF;
  padding-left: 21px;

  color: #000;
  text-align: justify;
  line-height: 1.55;
  letter-spacing: 0.48px;
}

.contact-form-textarea {
  display: block;
  margin-bottom: 23px;
  min-width: 533px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  background: #FFF;
  padding-left: 21px;
  padding-top: 22px;

  color: #000;
  text-align: justify;
  line-height: 1.55;
  letter-spacing: 0.48px;
}

.contact-us-btn {
  display: block;
  margin: 0;
  margin-top: 33px;
  background-color: var(--acent-color);
  color: var(--btn-text-color);
  font-size: 16px;
  letter-spacing: 0.48px;
  min-width: 128px;
  height: 44px;
  border-radius: 5px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.74, 0.22, 0.34, 1.13);
}

.contact-us-btn:hover,
.contact-us-btn:focus {
  background-color: #fbe303;
}

/* Footer styles */

.footer {}

.footer-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 76px;
  padding-bottom: 87px;
}

.footer-company {
  /* padding-right: 105px; */
}

.footer-company .header-logo {
  margin-bottom: 40px;
}

.logo-img {}

.footer-desc {
  width: 345px;
  height: 88px;

  color: #F8F8F8;
  text-align: justify;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.39px;
}


.footer-smm {}

.footer-smm-list {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer-smm-item {}

.footer-smm-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fbe303;
}

.footer-smm-svg {
  stroke: var(--text-color);
}

.footer-services {
  /* padding-right: 94px; */
}

.footer-services-subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 33px;
}

.footer-services-list {
  display: flex;
  flex-direction: column;
}

.footer-services-iten {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 2.22;
}

.footer-resources {
  /* padding-right: 94px; */
}

.footer-resources-subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 33px;
}

.footer-resources-list {
  display: flex;
  flex-direction: column;
}

.footer-resources-iten {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 2.22;
}

.footer-contact-info {}

.footer-contact-subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 33px;
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
}

.footer-contact-iten {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 2.22;
}

.footer-contact-icon {}

.footer-copyright-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 42px;
  padding-bottom: 47px;
}

.footer-copyright-desc {}

.footer-policy-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-policy-item {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 2.25;
  text-decoration-line: underline;
}

.footer-policy-link {}